.Rproj.user/
.DS_Store
.Rhistory

data/urine_flow_rate_cumulative*
data/urine_flow_rate_copy.csv
R/

result/reabsorption_rate_210908.csv
result/time_vs_ammonia_conc_210908.pdf
reuslt/time_vs_ammonia_conc.pdf
result/time_vs_creatinine_clearance_210908.pdf
result/time_vs_free_water_clearance_210908.pdf
result/time_vs_free_water_clearance.pdf
result/time_vs_osmolarity_210908.pdf
result/time_vs_osmoles_clearance_210908.pdf
result/time_vs_osmoles_clearance.pdf
result/time_vs_ph_210908.pdf
result/time_vs_reabsorption_rate_210908.pdf
result/time_vs_urine_creatinine_conc_210908.pdf
result/time_vs_urine_creatinine_conc.pdf
result/time_vs_urine_flow_rate_210916.pdf

Rmd/clearance_calculation.log
Rmd/clearance_calculation.html
Rmd/clearance_calculation.tex

result/qqplots/old/